<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="Email" type="com.example.step3.model.Email" />
		<typeAlias alias="User" type="com.example.step3.model.User" />
	</typeAliases>

</configuration>